Package: carrier-meerkat
Source: trinity-tech
Version: 2.0.1
Section: c++, net
Priority: optional
Architecture: all
Maintainer: trinity-tech <contact@trinity-tech.io>
Installed-Size: 50000
Pre-Depends: adduser
Depends: lsb-base (>= 3.0), libc6 (>= 2.14), init-system-helpers (>= 1.18~), libsystemd0, libsodium23
Homepage: https://trinity-tech.io/
Description: Carrier MeerKat Service
 Elastos Carrier is a decentralized DHT network and federal-based service framework.
 .
 This package contains the Carrier MeerKat service that runs on a regular Carrier Node to assist applications in utilizing the services from Carrier superNode.

